<h1 class="title">NONOS CUT - Veuillez confirmer votre email</h1>
<div class="form">
	<p>Veuillez confirmer votre email en cliquant sur ce
		<a href="{{ signedUrl|raw }}">lien</a>.</p>


	<p>Ce lien expira dans
		{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</p>

	<p>A bientôt dans notre salon de toilettage</p>

	<p>NONOS CUT</p>
</div>
